body {
    background-image: url("img/dev-bg.png");
    background-size: cover;
    z-index: -1;
    color: var(--text-color);
    font-family: 'Orbitron', 'Courier New', 'Roboto Mono', monospace !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
