.footer {
    text-align: center;
    color: var(--text-color-secondary);
    font-size: 0.6rem;
    position: relative;
    bottom: 0;
    top: 1vh;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}