.input{
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  font-family: var(--font-family);
  transition: all 0.3s ease;
  margin-top: 1vh;
}

.input:focus {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.1);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input.red {
  box-shadow: 8px 8px 16px rgba(163, 2, 37, 0.2),
    -8px -8px 16px rgba(255, 99, 132, 0.1);
    border: 1px solid rgba(255, 99, 132, 0.18);
}

.input.green {
  box-shadow: 8px 8px 16px rgba(76, 175, 80, 0.2),
    -8px -8px 16px rgba(76, 175, 80, 0.1);
  border: 1px solid rgba(76, 175, 80, 0.18);
}

.input.blue {
  box-shadow: 8px 8px 16px rgba(0, 229, 255, 0.2),
    -8px -8px 16px rgba(0, 229, 255, 0.1);
  border: 1px solid rgba(0, 229, 255, 0.18);
}

.input.orange {
  box-shadow: 8px 8px 16px rgba(255, 152, 0, 0.2),
    -8px -8px 16px rgba(255, 152, 0, 0.1);
  border: 1px solid rgba(255, 152, 0, 0.18);
}

.input.disabled {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.input.disabled::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.input.large {
  padding: 14px 20px;
  font-size: 18px;
}

.input.small {
  padding: 6px 10px;
  font-size: 14px;
}

.input.rounded {
  border-radius: 20px;
}   

